# Gradle
.gradle/
build/

# IDE files
.idea/
*.iml

# Compiled class files
*.class

# Log files
*.log

# OS-specific files
.DS_Store

# Local application properties
application-local.properties
.env
local/

# Build output
out/

#Docker files
db/
